<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <p class="text-center fs-3">Đơn đặt hàng</p>
            <hr>
            <a href="/admin" class="text-decoration-none"><i class="fa-solid fa-arrow-left" ></i> Quay lại</a>
            <th:block th:if="${session.success}">
                <p class="text-success fw-bold text-center">[[${session.success}]]</p>
                <th:block th:text="${@commnServiceImpl.removesessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commnServiceImpl.removesessionMessage()}"></th:block>
            </th:block>
            <div class="col-md-4 p-4">

                <form action="/admin/search-order" method="get">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control " name="orderId"
                                   placeholder="Nhập mã đơn">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary col">Tìm kếm</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-12 ">

                <table class="table table-bordered card-sh">
                    <thead >
                    <tr >
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Chi Tiết</th>
                        <th scope="col">Ngày tháng</th>
                        <th scope="col">Chi tiết sản phẩm</th>
                        <th scope="col">Gía</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="o:${orders}">
                        <th scope="row">[[${o.orderId}]]</th>
                        <td>Name : [[${o.orderAddress.first_name+'
                            '+o.orderAddress.last_name}]]<br> Email :
                            [[${o.orderAddress.email}]] <br> Số điện thoại:
                            [[${o.orderAddress.phone}]] <br> Địa chỉ :
                            [[${o.orderAddress.address}]] <br> Thành phố :
                            [[${o.orderAddress.city}]] <br> Tình trạng :
                            [[${o.orderAddress.state}]]
<!--                            [[${o.orderAddress.state}]], [[${o.orderAddress.pincode}]]-->



                        </td>
                        <td>[[${o.orderDate}]]</td>
                        <td>[[${o.product.title}]]</td>
                        <td>số lượng : [[${o.quantity}]] <br>Gía :
                            [[${o.price}]] <br>Tổng giá :[[${o.quantity *
                            o.price}]]
                        </td>
                        <td>[[${o.status}]]</td>
                        <td>
                            <form action="/admin/update-order-status" method="post">
                                <div class="row">
                                    <div class="col">
                                        <select class="form-control" name="st">
                                            <option>--select--</option>
<!--                                            <option value="1">In Progress</option>-->
<!--                                            <option value="2">Order Received</option>-->
<!--                                            <option value="3">Product Packed</option>-->
<!--                                            <option value="4">Out for Delivery</option>-->
                                            <option value="5">Delivery</option>
                                            <option value="6">Cancel</option>
                                        </select>
                                    </div>
                                    <input th:value="${o.id}" name="id" type="hidden">
                                    <div class="col">
                                        <th:block th:if="${o.status=='Cancel' || o.status=='Delivery'}">
                                            <button class="btn btn-primary btn-sm col disabled">Sửa</button>
                                        </th:block>
                                        <th:block th:unless="${o.status=='Cancel' || o.status=='Delivery'}">
                                            <button  class="btn btn-sm btn-primary ">Sửa</button>
                                        </th:block>


                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-4">Tổng đơn đặt hàng : [[${totalElements}]]</div>
                    <div class="col-md-6">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"
                                    th:classappend="${isFirst} ? 'disabled':''"><a
                                        class="page-link"
                                        th:href="@{'/admin/orders?page='+${page - 1}}"
                                        aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                </a></li>

                                <li th:each="i:${#numbers.sequence(1,totalPages)}"
                                    class="page-item" th:classappend="${page + 1==i}?'active':''"
                                    ]]><a class="page-link"
                                          th:href="@{'/admin/orders?page='+${i-1}}">[[${i}]]</a></li>

                                <li class="page-item"
                                    th:classappend="${isLast} ? 'disabled':''">
                                    <a
                                            class="page-link"
                                            th:href="@{'/admin/orders?page='+${page+1}}"
                                            aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>